
.pop_up_background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 300;
  background: rgba(0,0,0, 0.3);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.pop_up_content {
  position: relative;

  width: 50%;
  max-width: 500px;
  min-height: 150px;

  background: white;
  border-radius: 3px;

  box-sizing: border-box;
  padding: 20px 30px;

  animation: animation_pop_up 0.4s;
}

@keyframes animation_pop_up {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);

  }
}




.close_img {
  width: 15px;
  height: 15px;

}

.button_close {
  position: absolute;

  top: 10px;
  right: 15px;
}