.content {
  width: 100%;
  min-height: 100vh;

  display: flex;
  direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  box-sizing: border-box;
  padding: 80px 30px 20px 30px;
  background: #d9e8ed;
}