@import "../../assets/colors";

.button {
  width: 100%;
  height: 35px;

  border: none;
  outline: none;
  border-radius: 5px;
  background: $color_blue;
  color: white;

  transition: background;
  transition-duration: 0.3s;
  cursor: pointer;
  &:hover {
    background: #349eed;
  }
  &:active {
    background: #2f65ed;
  }
}


.button_red {
  background: rgba(205, 0, 0, 0.55);

  &:hover {
    background: rgba(255, 0, 0, 0.71);
  }
  &:active {
    background: #d30000;
  }
}